.slide-block-head {
  width: 100%;
  height: 100vh;
  text-align: right;
  background: url("../img/phone-img.svg");
  background-size: contain;
  background-position: left 200px top 400px;
  background-repeat: no-repeat;
  background-color: $blue;

  &__heading {
    width: 100%;
    margin-bottom: 50px;
    h1 {
      color: $white;
      font-weight: 100;
      font-size: 60px;
      font-family: $mainFont;
    }
    p {
      font-family: $subFont;
      color: $white;
      font-size: 40px;
      font-weight: 100;
      margin-bottom: 60px;
    }
  }
}
