.container {
  width: auto;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1110px;

  .row {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    &--header-block {
      justify-content: space-between;
    }
    &--slide-block-head {
      align-items: center;
      justify-content: right;
    }
    &--slide-block {
      align-items: center;
    }
    &--around-slide-block {
      justify-content: flex-end;
      @include respond-from(sm) {
        align-items: center;
      }
    }
    &--center-slide-block {
      align-items: center;
      justify-content: center;
    }
    &--soc-slide-block {
      align-items: center;
      justify-content: center;
    }
    &--slide-block-footer {
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 930px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px
  }
}

@media (max-width: 576px) {
  .container {
    max-width: none;
  }
}


h1, h2, h3, p {
  margin: 10px 0;
}

a.btn {
  border: 2px solid $white;
  padding: 15px 25px;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  height: 53px;
  max-width: 300px;
  font-size: 15px;
  font-family: $subFont;
  border-radius: 2px;
  position: relative;
  @include respond-from(lg) {
    font-size: 14px;
  }
  @include respond-from(sm) {
    padding: 12px 20px;
  }

  &:hover, &:active, &:focus {
    background-color: $white;
    color: $blue;
    text-decoration: none;
  }

  &--red {
    color: $red;
    border-color: $red;
    text-decoration: none;

    &:hover, &:active, &:focus {
      background-color: $red;
      color: $white;
    }
  }

  &--green {
    text-decoration: none;
    color: $green;
    border-color: $green;

    &:hover, &:active, &:focus {
      color: $white;
      background-color: $green;
    }
  }

  &--white-green {
    text-decoration: none;

    &:hover, &:active, &:focus {
      color: $green;
    }
  }

  i {
    margin-left: 10px;
  }
}

.group-item {
  display: inline-flex;
  align-items: baseline;
  @include respond-from(sm) {
    flex-wrap: wrap;
    justify-content: center;
  }
  &__input {
    width: 218px;
    position: relative;
  }

  i {
    color: $light-blue;
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
    font-size: 17px;
    @include respond-from(sm) {
      top: 13px;
    }
  }

  span {
    margin-right: 20px;
    color: $dark-gray;
    letter-spacing: 0.7px;
    @include respond-from(sm) {
      margin-right: 0;
      margin-bottom: 15px;
      width: 100%;
    }
  }


  input[type='text'] {
    padding: 11px 30px 11px 20px;
    border-radius: 15px;
    border-color: transparent;
    font-size: 15px;
    font-weight: 100;
    max-width: 170px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  input[type='text']::-webkit-input-placeholder {
    color: #D3D3D3
  }

  input[type='text']::-moz-placeholder {
    color: #D3D3D3
  }

  input[type='text']:-moz-placeholder {
    color: #D3D3D3
  }

  input[type='text']:-ms-input-placeholder {
    color: #D3D3D3
  }

  button {
    border: none;
    background-color: transparent;
    &:focus {
      outline: none;
    }

  }
}