$black: #474D5C;
$white: #FFF;
$blue: #52ACDB;
$bg-light-beige: #F3F3F3;
$red: #E74F89;
$green: #21AC8B;
$light-gray: #F3F3F3;



$mainFont: 'black_jackregular', sans-serif;
$subFont: 'Roboto', sans-serif;

$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;





